<a href="https://colab.research.google.com/github/SawantDisha/Google-Collab-Projects/blob/main/Diabetes_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score, classification_report
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# Mount the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd /content/drive/My Drive/IIT Kanpur/

/content/drive/My Drive/IIT Kanpur

In [4]:
dt = pd.read_csv("diabetes.csv")
dt.head(10)

   Unnamed: 0  Pregnancies  Glucose  ...  DiabetesPedigreeFunction   Age  Outcome
0         NaN          6.0    148.0  ...                     0.627  50.0      1.0
1         NaN          1.0     85.0  ...                     0.351  31.0      0.0
2         NaN          8.0    183.0  ...                     0.672  32.0      1.0
3         NaN          1.0     89.0  ...                     0.167  21.0      0.0
4         NaN          0.0    137.0  ...                     2.288  33.0      1.0
5         NaN          5.0    116.0  ...                     0.201  30.0      0.0
6         NaN          3.0     78.0  ...                     0.248  26.0      1.0
7         NaN         10.0    115.0  ...                     0.134  29.0      0.0
8         NaN          2.0    197.0  ...                     0.158  53.0      1.0
9         NaN          8.0    125.0  ...                     0.232  54.0      1.0

[10 rows x 10 columns]

In [5]:
dt = dt.drop(columns=['Unnamed: 0'])
dt = dt.dropna(how='any',axis=0)

In [6]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   blood pressure            768 non-null    float64
 3   skin thickness            768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
dtypes: float64(9)
memory usage: 60.0 KB

In [7]:
dt.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
x = dt.iloc[:, :-1]
y = dt.iloc[:, -1]

## Splitting the Data

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=25, random_state=0)

# Applying classifiers AND evaluation

## Random Forest

In [10]:
classifier = RandomForestClassifier(n_estimators=6, criterion='entropy', random_state=0)
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)

In [11]:
acc_logreg2 = round(accuracy_score(y_pred, y_test), 2)*100
print("Accuracy: ", acc_logreg2)

Accuracy:  88.0

## Logistic Regression

In [12]:
logreg = LogisticRegression(solver='lbfgs', max_iter=1000)
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
acc_logreg1 = round(accuracy_score(y_pred, y_test), 2)*100
print("Accuracy: ", acc_logreg1)

Accuracy:  96.0

## K Neighbor Classifier

In [13]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
acc_knn = round(accuracy_score(y_pred, y_test), 2)*100
print("Accuracy: ", acc_knn)

Accuracy:  80.0